<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" charset = "utf-8">   
      	function pageLoaded()  
        {   
            var canvas = document.getElementById('tCanvas');    
            var context = canvas.getContext('2d'); 
        }  
</script>  
<title>Airport</title>
<style type="text/css">
</style>
<link href="Airport.css" rel="stylesheet" type="text/css">
<div class="a_wrap">
	<a href="../Desktop/Simuscene/project/login.html">CAE</a>
</div>
<div class="b_wrap">
	<a href= "../../../Documents/Simuscene.html">登出</a>
</div>
</head>
<body onload="pageLoaded();">
<div class="information">
	<strong><font size="+1" color="black" style="line-height: 150%">机场代码</font></strong><br>
	<hr style="height:1px;border-width:0;color:gray;background-color:gray; width:350px;"/>
	<strong><font size="+1" color="black" style="line-height: 190%">机场名称</font></strong><br>
	<hr style="height:1px;border-width:0;color:gray;background-color:gray; width:350px;"/>
	<strong><font size="+1" color="black" style="line-height: 190%">机场地点</font></strong><br>
	<hr style="height:1px;border-width:0;color:gray;background-color:gray; width:350px;"/>
	<font size="3" color="black" style="line-height: 190%">纬度</font><br>
	<font size="3" color="black" style="line-height: 190%">经度</font><br>
	<hr style="height:1px;border-width:0;color:gray;background-color:gray; width:350px;"/>
</div>
<div class="base-information">
	<strong><font size="1" color="black" >Vdb包含的其它机场代码</font></strong><br>
	<strong><font size="1" color="black" >合装主机场名称</font></strong><br>
	<strong><font size="1" color="black" >Vdb数据库类型</font></strong><br>
	<strong><font size="1" color="black" >Vdb版本</font></strong><br>
	<strong><font size="1" color="black" >发布日期</font></strong><br>
	<strong><font size="1" color="black" >AIP或者Jeppson版本</font></strong><br>
	<strong><font size="1" color="black" >Vdb等级</font></strong><br>
	<strong><font size="1" color="black" >跑道号信息</font></strong><br>
	<strong><font size="1" color="black" >数据库图片路径</font></strong><br>
	<strong><font size="1" color="black" >数据库视频路径</font></strong><br>
</div>
<canvas width = "450" height = "200" class = "tCanvas" style = "border:black 1px solid;">
</canvas>
<img src="../img/timg2.jpeg" class="titlepic" style="height: 350px;width: 1110px;" alt="">
<div>
    <ul class="menu">
    <li><a href="#" class="selected">我们的产品</a></li>
    <li>
        <a href="#">我们的服务</a>
        <ul>
            <li><a href="#">目录1</a></li>
            <li><a href="#">目录2</a></li>
            <li><a href="#">目录3</a></li>
            <li><a href="#">目录4</a></li>
        </ul>
    </li>
    <li>
        <a href="#">机场</a>
        <ul>
            <li><a href="#">目录1</a></li>
            <li><a href="#">目录2</a></li>
            <li><a href="#">目录3</a></li>
            <li><a href="#">目录4</a></li>
        </ul>
    </li>
    <li><a href="#">关于我们</a></li>
</ul>
</div>
<footer class="footer">Content for  class "footer" Goes Here</footer>
</body>
</html>
